@media screen and ( max-width : 360px ) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .login-container {
    align-items: center;
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  .login-box {
    align-items: center;
    background-color: rgba(220, 218, 218, 1);
    border: 3px solid rgba(246, 246, 246, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 4px 3px rgba(57, 55, 56, 0.8);
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    width: 300px;
  }
}
