@media screen and ( max-width : 360px ) {
  
}

/* #root {
  width: 100vw;
  height: 100vh;
} */

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  background-color: antiquewhite;
}

button:disabled {
  background-color: rgb(209, 209, 209);
  color: rgb(144, 144, 144);
}

img {
  max-width: 80vw;
}

/* footer {
  background: rgb(144, 144, 144);
  bottom: 0;
  position: fixed;
  width: 100vw;
} */

footer > button {
  margin: auto 0;
}

.btn-start-recipe {
  position: fixed;
  bottom: 0;
}
